<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Reviews</title>
    <link rel="stylesheet" href="\myreviews.css">
</head>
<body>
    <div class="container">
        <h1>Customer Reviews</h1>

        <div class="review">
            <img src="https://xsgames.co/randomusers/assets/avatars/male/63.jpg" height="135px" width="150px" alt="Customer Photo">
            <div class="review-details">
                <h3>John Doe</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis interdum lacus, ac dapibus leo euismod eu.</p>
                <div class="review-rating">★★★★☆</div>
            </div>
        </div>

        <div class="review">
            <img src="https://i.pinimg.com/736x/73/3b/b0/733bb0d740c1370112db7ea920a8cd63.jpg" width="150px" alt="Customer Photo">
            <div class="review-details">
                <h3>Jane Smith</h3>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis auctor ac felis non tempor.</p>
                <div class="review-rating">★★★★★</div>
            </div>
        </div>

        <div class="review">
            <img src="https://img.freepik.com/free-photo/young-attractive-woman-modern-office-desk-working-with-laptop-thinking-about-something_1258-104524.jpg" height="125px" width="150px" alt="Customer Photo">
            <div class="review-details">
                <h3>Emily Johnson</h3>
                <p>Curabitur non nisl et justo facilisis cursus. Nullam sit amet orci at mi varius cursus non ac odio.</p>
                <div class="review-rating">★★★☆☆</div>
            </div>
        </div>

        <div class="review">
            <img src="https://as1.ftcdn.net/v2/jpg/04/91/01/70/1000_F_491017048_TOMEqI6AEKwgiWLUxszHsTU8EA9z7lfu.jpg" height="135px" width="150px" alt="Customer Photo">
            <div class="review-details">
                <h3>Michael Brown</h3>
                <p>Phasellus scelerisque, lorem a posuere blandit, libero ante congue libero, nec elementum orci risus a ligula.</p>
                <div class="review-rating">★★★★☆</div>
            </div>
        </div>

    </div>
</body>
</html>