body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
}

.box {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.box-header h2 {
    margin-left: auto;
    margin-right: auto;
}

.box-header button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.box-header .dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    top: 100%;
    left: 0;
    width: 150px;
    z-index: 1;
}

.box-header .dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.box-header .dropdown a:hover {
    background-color: #f2f2f2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

button {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

#customerSupportBtn {
    background-color: #28a745;
}

#customerSupportBtn:hover {
    background-color: #218838;
}

/* Show dropdown options when the filter button is clicked */
.box-header button:focus + .dropdown,
.box-header button:hover + .dropdown,
.box-header .dropdown:hover {
    display: block;
}
